# Dependencies
node_modules
.pnp
.pnp.js

# Production build files
dist
build

# TypeScript
*.tsbuildinfo
*.js
*.js.map
!vite.config.js

# Local env files
.env*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Upload and download directories
uploads/
downloads/

# System Files
.DS_Store
Thumbs.db

# 项目数据目录
/data/uploads/*
/data/downloads/*
!data/uploads/.gitkeep
!data/downloads/.gitkeep 